<div class="d-flex justify-content-between align-items-center">
    <h2 mat-dialog-title class="mb-0">Add Company</h2>
    <button mat-icon-button (click)="onCancel()" class="close-icon ps-2 pe-2 pb-2">
      <mat-icon class="fs-4">close</mat-icon>
    </button>
</div>
<form #companyForm="ngForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
        <mat-label>Company ID</mat-label>
        <input matInput [(ngModel)]="company.id" name="id" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Company Name</mat-label>
        <input matInput [(ngModel)]="company.name" name="name" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Company Address</mat-label>
        <input matInput [(ngModel)]="company.address" name="address" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Contact No</mat-label>
        <input matInput [(ngModel)]="company.contactNo" name="contactNo" required>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Sector</mat-label>
        <input matInput [(ngModel)]="company.sector" name="sector" required>
    </mat-form-field>

    <button mat-raised-button type="submit" color="primary" (click)="companyForm.ngSubmit.emit()">Submit</button>
</form>
  