.mat-toolbar.custom-toolbar {
    margin-top: 20px;
    background-color: #ffffff;
    justify-content: space-between;
  }

.h2.toolbar-title{
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.add-button {
  margin-left: 10px;
  padding:20px;
  border-radius: 10px;
}
