
form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    width: 100%;
  }
  
  mat-select {
    width: 100%;
  }
  
  @media (max-width: 600px) {
    form {
      width: 100%;
      padding: 10px;
    }
  }
  