<div class="d-flex justify-content-between align-items-center">
  <h2 mat-dialog-title class="mb-0">Download</h2>
  <button mat-icon-button (click)="onCancel()" class="close-icon ps-2 pe-2 pb-2">
    <mat-icon class="fs-4">close</mat-icon>
  </button>
</div>
<div class="confirmation-dialog container">
    <h2 class="text-center">Download Data</h2>
    <p class="text-center">Are you sure you want to download the company data?</p>
    <div class="button-container d-flex justify-content-around">
      <button mat-raised-button color="primary" (click)="onDownload()" class="btn btn-primary">Download</button>
      <button mat-raised-button color="warn" (click)="onCancel()" class="btn btn-secondary">Cancel</button>
    </div>
</div>
  
