
.mat-elevation-z8 {
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  td.mat-cell {
    font-size: 14px;
    color: #666;

  }
  

  th.mat-header-cell {
    font-weight: bold;
    font-size: 16px;
    color: #444;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
  }
  
  
  mat-icon {
    margin-right: 5px;
    padding-top: 3px;
  }
  