.custom-toolbar {
  margin-top: 20px;
  background-color: #ffffff;
}

.header {
  font-size: 20px;
  color: #333;
}

.search-field {
  border-radius: 20px;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 14px;
}

.add-button {
  margin-left: 10px;
  padding:20px;
  border-radius: 10px;
}
