<div>
  <mat-toolbar color="White" class="custom-toolbar d-flex justify-content-between align-items-center">
    <span class="header">Company List</span>

    <div class="d-flex align-items-center">
      <input
        matInput
        placeholder="Search"
        [(ngModel)]="searchQuery"
        (keyup)="applyFilter()"
        class="search-field me-1"
      />

      <button
        mat-raised-button
        color="primary"
        (click)="openDownloadDialog()"
        class="add-button text-light"
      >
        Fetch and Download Data
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="openAddCompanyForm()"
        class="add-button text-light"
      >
        Add Company
      </button>
    </div>
  </mat-toolbar>
  <ng-template #addCompanyForm>
    <app-company-form></app-company-form>
  </ng-template>
  <ng-template #downloadDialog>
    <app-download-dialog></app-download-dialog>
  </ng-template>
  <app-company-table [dataSource]="dataSource"></app-company-table>
</div>
