<div class="d-flex justify-content-between align-items-center">
  <h2 mat-dialog-title class="mb-0">Update Company</h2>
  <button mat-icon-button (click)="onCancel()" class="close-icon ps-2 pe-2 pb-2">
    <mat-icon class="fs-4">close</mat-icon>
  </button>
</div>
<form (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Company ID</mat-label>
      <input matInput [(ngModel)]="company.id" name="id" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Company Name</mat-label>
      <input matInput [(ngModel)]="company.name" name="name" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Company Address</mat-label>
      <input matInput [(ngModel)]="company.address" name="address" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Contact No</mat-label>
      <input matInput [(ngModel)]="company.contactNo" name="contactNo" required>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Sector</mat-label>
      <input matInput [(ngModel)]="company.sector" name="sector" required>
    </mat-form-field>
  
    <div class="button-container">
        <button mat-raised-button type="submit" color="primary">Update</button>
        <button mat-raised-button type="button" color="warn" (click)="onCancel()">Cancel</button>
    </div>
  </form>
  